.bash_history
.bash_logout
.bashrc
.apport-ignore.xml
.cache/
.config/
.dbus
.gitconfig
.gnome
.gnupg
.dotnet
.lesshst
.local
.pam_environment
.pki/
.profile
.ssh
.sudo_as_admin_successful
.vscode/
snap/
.presage/
Public/
Pictures/
Music/
Templates/
Videos/
Desktop/
Downloads/

