.viminfo
.bash_history
.bash_logout
.cache/
.config/
.dotnet/
.gitconfig
.gnupg/
.lesshst
.local/
.pam_environment
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.vscode/
Music/
Videos/
snap/
.aws/
.wget-hsts
Downloads/
.gnome/
Pictures/
.vim/
.vimrc
calculator
2hello
hello.c
.dbus/
.presage/
.python_history
.sogouinput/
.zcompdump
.bashrc
new.c
.Xauthority
.nv/
.putty/
.vnc/
.xsession
.xorgxrdb.10.1og
.xorgxrdb.10.1og.old
.xsession-errors
.xorgxrdp.10.1og
.xorgxrdp.10.1og.old
.xorgxrdp.10.1og.old
